<div class="chatInputWrapper">
    <div class="attachment"></div>
    <form action="">
        <input type="text" name="mesage" placeholder="Сообщение">
        {{{ submitButton }}}
    </form>
</div>