<div class="loginPage">
    <span class="enter">Войти в аккаунт</span>
    <form action="#/chat" method="post" class="inputForm">
        <div class="input">
            <input type="text" name="login" id="login" placeholder="логин">
            <input type="password" name="password" id="password" placeholder="пароль">
        </div>
        <div class="loginControls">
            <button type="submit" class="submitButton">Войти</button>
            <a href="#/signup" class="redirect">Регистрация</a>
        </div>
    </form>
</div>