<div class="loginPage">
    <span class="enter">Войти в аккаунт</span>
    <form action="#/chat" method="post" class="inputForm">
        <div class="input">
            {{{ inputLogin }}}
            {{{ inputPassword }}}
        </div>
        <div class="loginControls">
            {{{ submitButton }}}
            <a href="#/signup" class="redirect">Регистрация</a>
        </div>
    </form>
</div>
