.chatPageWrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
}
.chatPageWrapper .leftBlock {
  display: inline-block;
  width: 310px;
  background: #FBFBFB;
  min-height: 100%;
  padding: 18px 8px;
}
.chatPageWrapper .leftBlock .toProfile {
  display: flex;
  justify-content: end;
}
.chatPageWrapper .leftBlock .search {
  margin-top: 18px;
  text-align: center;
  padding: 8px;
  background: #EFEFEF;
  color: #999999;
  border-radius: 10px;
  cursor: pointer;
}
.chatPageWrapper .chatWrapper {
  display: inline-block;
  width: 100%;
  min-height: 100%;
  background: #E5E5E5;
}
.chatPageWrapper .chatList {
  margin-top: 14px;
  border-top: 1px #c8c6c6c0 solid;
}
