.chatPageWrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
       
    .leftBlock {
        display: inline-block;
        width: 310px;
        background: #FBFBFB;
        min-height: 100%;
        padding: 18px 8px;

        .toProfile {
            display: flex;
            justify-content: end;
        }
    
        .search {
            margin-top: 18px;
            text-align: center;
            padding: 8px;
            background: #EFEFEF;
            color: #999999;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .chatWrapper {
        display: inline-block;
        width: 100%;
        min-height: 100%;
        background: #E5E5E5;
    }
    
    .chatList {
        margin-top: 14px;
        border-top: 1px #c8c6c6c0 solid;
    }
}

