<div class="chatElement">
    <div class="avatar"></div>
    <div class="chatContent">
        <div class="username">{{username}}</div>
        <div class="message">{{message}}</div>
        <div class="chatDate"></div>
        <div class="counter"></div>
    </div>
</div>