<div class="profileAvatar">
    <img src={{ avatar.src }} alt="profile avatar" >
    <label for="avatar" class="avatarLabel">Поменять аватар</label>
    <input type="file" name="avatar" accept="image/*" id="avatar" class="profileAvatarInput">
</div>
<span class="nickname">{{ nickname }}</span>
