<div class="profileInfoElement">
    Старый пароль
    <input type="password" name="oldPassword" id="oldPassword" placeholder="********">
</div>
<div class="profileInfoElement">
    Новый пароль
    <input type="password" name="newPassword" id="newPassword" placeholder="********">
</div>
<div class="profileInfoElement">
    Повторите новый пароль
    <input type="password" name="newPasswordProof" id="newPasswordProof" placeholder="********">
</div>
{{{ submitButton }}}
